body{
    background-image:url('picture/background.jpg');
    background-size: 100%;
    font-family:Arial, Helvetica, sans-serif;
}
ul{
    list-style:none;
    font-family:Arial, Helvetica, sans-serif;
}
.nav {
    list-style:none;
    margin:0px;
    padding:0px;
    width: 100%;
    overflow:hidden;
    background: #0B0B61;    
}
.nav>li{
    float:left;
}
.nav li a{
    display:block;
    color:white;
    padding: 14px 16px;
    text-align:center;
    text-decoration: none;
}
li a:hover{
    background-color: black;
    cursor: pointer;  
}
main{
    margin:auto;
    width: 70%;
    text-align:left;
    justify-content: left;    
}
form{
    position: relative;
    text-align: center;
    left:-20px;
}

input{
    margin-right: 30px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left:5px;
}
select{
    margin-right: 30px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left:5px;
}
h1{
    width:70%;
    padding-top: 50px;
    color:  #0B0B61;
    margin:auto;
    margin-bottom: 5%;
    text-align: center;
    
}
button{
    width:150px;
    height: 50px;
    font-size:16px;
    margin-top: 10px;;
    background-color:#0B0B61;
    color:#fff;
    border:#fff solid 1px

}
button:hover{
    background-color:black;
    cursor: pointer;
}
.Login{
    width:500px; 
    height: 400px; 
    margin: auto;
    padding-top:50px;
    text-align: center;
    background-color:#E0F2F7;
    border-radius:10px;
}
.register{
    width:500px; 
    height: 610px; 
    margin: auto;
    padding-top:20px;
    text-align: center;
    background-color: #E0F2F7;
    border-radius:10px;

}
#Benutzername{
    width: 98%;
}
#password{
    width: 98%;
}
#fname{
    width: 98%;
}
#lname{
    width: 98%;
}
#email{
    width: 98%;
}
#fieldreg{
    margin-left: 35px;   
}
#Studiengang{
    width: 98%;
}
#fieldlog{
    margin-left: 35px;
    height:320px
}
label{
    margin-top:50px;
    padding-bottom: 50px;
}
legend{
    margin-bottom: 20px;
}
img{
    max-width: 20%;
    max-height: 30%;
}
tr{
   width: 20%; 

}
