li{
    list-style:none;
}
div{
    width:300px;
    border: 15px;
    padding: 50px;
    margin:20px;
}
a{
    font-family:Arial, Helvetica, sans-serif; 
    color : black;
    text-decoration: none;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}