ul{
    list-style:none;
    font-family:Arial, Helvetica, sans-serif;
}
.tiere{
    position: relative;
    left:-20px;
}
main{
    margin:auto;
    width: 70%;
    text-align: center;
}
body{
    background-image:url(pictures/marble.jpg) ;
    background-size: 100%;
}
h1{
    width:70%;
    padding-top: 50px;
    color:  #0B3B2E;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    text-align: center;
}
h2,h3,h4{
    color:  #0B3B2E;
    font-family: Arial, Helvetica, sans-serif;
}
img[alt="ich"]{
    max-width: 60%;
    max-height: 60%;
}
a:hover{
    color:blue;
}

li a:hover{
    background-color: black;
   
}
.nav {
    list-style:none;
    margin:0px;
    padding:0px;
    width: 100%;
    overflow:hidden;
    background: #0B3B2E;
    
}
.nav>li{
    float:left;
}
.nav li a{
    display:block;
    color:white;
    padding: 14px 16px;
    text-align:center;
    text-decoration: none;
}
.contact{
    width:300px;
    border: 10px;
    padding: 50px;
    margin:auto;
}
div button{
    border: 10px;
    background-color: gray;
}
.contact{
    border-radius: 10px;
    padding : 10px;
    
}
.contact-element{
    width: 100%;
    padding:20px;
    margin-top:15px;
    color:black;
}
p~a{
    transition: color 0.5s ease-in-out;
    font-family:Arial, Helvetica, sans-serif; 
    color :black;  
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h4+p{
    color: #0B3B2E;
}
/*Tablet*/
@media (max-width:1024px)and(min-width:600px){
    
    video{
        width:100%;
        height:auto;
    }
    img{
        width: 100%;
        height: auto;
    }
    img[alt = "Website HFU Furtwangen"]{
        width: 50%;
        height: auto;
    }
    div{
        width:70%;
    }
}
/*Smartphone*/
@media(max-width:600px ){
    .nav{
       
        overflow: auto;
        background-color: #0B3B2E;
        position: relative;
    }
    .nav a{
        color: white;
        padding: 14px,16px;
        text-decoration: none;
        display: block;
        font-size: small;
        
    }
    main{
        width:100%;
    }

    video{
        width:100%;
        height:auto;
    }
    img{
        width: 100%;
        height: auto;
    }
    img[alt = "Website HFU Furtwangen"]{
        width: 50%;
        height: auto;
    }
    img[alt="ich"]{
        width: 100%;
        height: auto;
    }
    div{
        width:70%;
    }
}